{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}
{% block stylesheet %}{% endblock %}
{% block javascript %}{% endblock %}

{% block header %}
    {% include "/parts/header.html.twig" %}
{% endblock %}

{% block body %}
    <main class="inscriptionform">
        <span class="title">Inscription</span>
        {{ form_start(form)}}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password.first) }}
            {{ form_row(form.password.last) }}
            {{ form_row(form.agreeTerms) }}
        {{ form_end(form) }}
        <p>Vous avez déjà un compte GreenCare <a href="">cliquez ici</a></p>
    </main>
{% endblock %}

{% block footer %}{% endblock %}