{% extends 'base.html.twig' %}

{% block body %}
<section class="user-profil">

		<div class="infos">
			<div class="img-container">
				<img src="{{ app.user.avatar }}" alt="Photo de profil">
			</div>
			<div class="infos-container">
				<div class="personnal">
					<div class="personnal-info">
						<div class="text-box">
							<p>Nom :</p>
							<p>{{ app.user.lastName }}</p>
						</div>
						<div class="text-box">
							<p>Prénom :</p>
							<p>{{ app.user.firstName }}</p>
						</div>
						<div class="text-box mail">
							<p>Adresse email :</p>
							<p>{{ app.user.email }}</p>
						</div>
					</div>
					
					{# <div class="personnal-action">
						<img id="monBouton" src="/images/equipement.png" alt="engrenage">
						<div id="monElementCache" class="elementCache">
							<p 					style="color: black; text-decoration-color: black;">
								Modifier photo de profil
							</p>
							<a 
								id="delete-account-link"
								aria-labelledby="modal-title" role="dialog" aria-modal="true"
								style="color: red; text-decoration-color: red;" 
								>
								Supprimer mon compte
							</a>
							{% include "profil/_delete_account_popup.html.twig" %}
						</div>
					</div> #}

					<div class="personnal-action">
						<a href="/" style="color: black; text-decoration-color: black;">
						Modifier photo de profil
						</a>

						<a href="/" id="delete-account-link" aria-labelledby="modal-title" role="dialog" 
						aria-modal="true" style="color: red; text-decoration-color: red;">
						Supprimer mon compte
						</a>
						{% include "profil/_delete_account_popup.html.twig" %}
					</div>
				</div>

				<div class="stats">
					<div class="stats-box">
						<p>Conseils demandés :</p>
						<p>{{ conseilsDemandes }}</p>
					</div>

					<div class="stats-box">
						<p>Plantes possédées :</p>
						<p>{{ plantesPossedees }}</p>
					</div>

					<div class="stats-box">
						<p>Nombre de rendez-vous: </p>
						<p>{{ nombreDeRendezVous }}</p>
					</div>
				</div>


			</div>
		</div>
		

		<div class="my-garden">
			<ul class="liste-plantes">
            {% for plant in plants %}
				<li class="plante">
					 {% for photo in plant.photos %}
						<img src="{{ photo.smallThumbnail }}" alt="image">
					{% endfor %}

					<ul class="infos-plante">
						<li id="name ">
							<p>Nom</p>
							<p>{{ plant.name }}</p>
						</li>
						<li id="famille">
							<p>Famille</p>
							<p>{{ plant.species }}</p>
						</li>
						<li id="couleur">
							<p>Date</p>
							<p>{{ plant.CreatedAt }}</p>
						</li>
					</ul>

					<div class="buttons">
						<a href="/">Plus de détails</a>
						{# <button>Modifier</button>
						<div>{{ include('plant/_delete_form.html.twig') }}</div> #}
					</div>
				</li>
			{% endfor %}
			</ul>
		</div>
		
</section>
{% endblock %}