{% extends 'base.html.twig' %}

{% block title %}Gestion de vos rendez-vous{% endblock %}

{% block body %}

    <section class="appointments-section">
        <h2>Demandes de rendez-vous</h2>

        {% for status, appointments in groupedAppointments %}
            <h2 class="text-xl mb-4 font-bold text-indigo-600">{{ status }} :</h2>
            <table class="appointments-table">
                {% if (status == 'En attente') %}
                    <tr class="appointments-row en-attente">
                        <th class="appointments-cell">Auteur</th>
                        <th class="appointments-cell">Titre</th>
                        <th class="appointments-cell description">Description</th>
                        <th class="appointments-cell">Date et Heure</th>
                        <th class="appointments-cell">Pris en charge par</th>
                        <th class="appointments-cell">Présence</th>
                        <th class="appointments-cell lieu">Adresse / Lien Zoom</th>
                        <th class="appointments-cell boutons">
                            Actions
                        </th>
                    </tr>
                {% elseif (status == 'En cours') %}
                    <tr class="appointments-row en-cours">
                        <th class="appointments-cell">Auteur</th>
                        <th class="appointments-cell">Titre</th>
                        <th class="appointments-cell description">Description</th>
                        <th class="appointments-cell">Date et Heure</th>
                        <th class="appointments-cell">Pris en charge par</th>
                        <th class="appointments-cell">Présence</th>
                        <th class="appointments-cell lieu">Adresse / Lien Zoom</th>
                        <th class="appointments-cell boutons">
                            Actions
                        </th>
                    </tr>
                {% elseif (status == 'Terminé') %}
                    <tr class="appointments-row termine">
                        <th class="appointments-cell">Auteur</th>
                        <th class="appointments-cell">Titre</th>
                        <th class="appointments-cell description">Description</th>
                        <th class="appointments-cell">Date et Heure</th>
                        <th class="appointments-cell">Pris en charge par</th>
                        <th class="appointments-cell">Présence</th>
                        <th class="appointments-cell lieu">Adresse / Lien Zoom</th>
                        <th class="appointments-cell boutons">
                            Actions
                        </th>
                    </tr>
                {% elseif (status == 'Annulé') %}
                    <tr class="appointments-row annule">
                        <th class="appointments-cell">Auteur</th>
                        <th class="appointments-cell">Titre</th>
                        <th class="appointments-cell description">Description</th>
                        <th class="appointments-cell">Date et Heure</th>
                        <th class="appointments-cell">Pris en charge par</th>
                        <th class="appointments-cell">Présence</th>
                        <th class="appointments-cell lieu">Adresse / Lien Zoom</th>
                        <th class="appointments-cell boutons">
                            Actions
                        </th>
                    </tr>
                {% endif %}

                {% for appointment in appointments %}
                    {% if (status == 'En attente') %}
                        <tr class="appointments-row en-attente">
                            <td class="appointments-cell">{{ appointment.particular.Fullname }}</td>
                            <td class="appointments-cell">{{ appointment.title }}</td>
                            <td class="appointments-cell description">{{ appointment.description }}</td>
                            <td class="appointments-cell">{{ appointment.createdAt ? appointment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td class="appointments-cell">{{ appointment.botanist ? appointment.botanist.FullName : 'No botanist assigned' }}</td>
                            {% if appointment.isPresential %}
                                <span class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-green-700 bg-green-200">
                                <td class="appointments-cell distanciel">À domicile</td>
                                    {% if appointment.address and appointment.status == "En cours" %}
                                        <td class="appointments-cell distanciel">{{ appointment.address }}</td>
                                        {% else %}
                                        <td class="appointments-cell distanciel">-</td>
                                    {% endif %}
                                    </span>
                            {% else %}
                                <span class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-red-700 bg-red-200">
                                <td class="appointments-cell distanciel">En ligne</td>
                            {% if appointment.link and appointment.status == "En cours" %}
                                <td class="appointments-cell distanciel"><a href="{{ appointment.link }}" rel=”noopener noreferrer” target="_blank">Lien</a></td>
                            {% else %}
                                <td class="appointments-cell distanciel">-</td>
                            {% endif %}
                            </span>
                            {% endif %}

                            <td class="appointments-cell boutons">
                                <button onclick="location.href='{{ path('app_appointment_show', {'id': appointment.id}) }}'"
                                        type="button">Détails</button>
                            </td>
                        </tr>
                    {% elseif (status == 'En cours') %}
                        <tr class="appointments-row en-cours">
                            <td class="appointments-cell">{{ appointment.particular.Fullname }}</td>
                            <td class="appointments-cell">{{ appointment.title }}</td>
                            <td class="appointments-cell description">{{ appointment.description }}</td>
                            <td class="appointments-cell">{{ appointment.createdAt ? appointment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td class="appointments-cell">{{ appointment.botanist ? appointment.botanist.FullName : 'No botanist assigned' }}</td>
                            {% if appointment.isPresential %}
                                <span class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-green-700 bg-green-200">
                                <td class="appointments-cell distanciel">À domicile</td>
                                    {% if appointment.address and appointment.status == "En cours" %}
                                        <td class="appointments-cell distanciel">{{ appointment.address }}</td>
                                        {% else %}
                                        <td class="appointments-cell distanciel">-</td>
                                    {% endif %}
                                    </span>
                            {% else %}
                                <span class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-red-700 bg-red-200">
                                <td class="appointments-cell distanciel">En ligne</td>
                            {% if appointment.link and appointment.status == "En cours" %}
                                <td class="appointments-cell distanciel"><a href="{{ appointment.link }}" rel=”noopener noreferrer” target="_blank">Lien</a></td>
                            {% else %}
                                <td class="appointments-cell distanciel">-</td>
                            {% endif %}
                            </span>
                            {% endif %}

                            <td class="appointments-cell boutons">
                                <button onclick="location.href='{{ path('app_appointment_show', {'id': appointment.id}) }}'"
                                        type="button">Détails</button>
                            </td>
                        </tr>
                    {% elseif (status == 'Terminé') %}
                        <tr class="appointments-row termine">
                            <td class="appointments-cell">{{ appointment.particular.Fullname }}</td>
                            <td class="appointments-cell">{{ appointment.title }}</td>
                            <td class="appointments-cell description">{{ appointment.description }}</td>
                            <td class="appointments-cell">{{ appointment.createdAt ? appointment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td class="appointments-cell">{{ appointment.botanist ? appointment.botanist.FullName : 'No botanist assigned' }}</td>
                            {% if appointment.isPresential %}
                                <span class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-green-700 bg-green-200">
                                <td class="appointments-cell distanciel">À domicile</td>
                                    {% if appointment.address and appointment.status == "En cours" %}
                                        <td class="appointments-cell distanciel">{{ appointment.address }}</td>
                                        {% else %}
                                        <td class="appointments-cell distanciel">-</td>
                                    {% endif %}
                                    </span>
                            {% else %}
                                <span class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-red-700 bg-red-200">
                                <td class="appointments-cell distanciel">En ligne</td>
                            {% if appointment.link and appointment.status == "En cours" %}
                                <td class="appointments-cell distanciel"><a href="{{ appointment.link }}" rel=”noopener noreferrer” target="_blank">Lien</a></td>
                            {% else %}
                                <td class="appointments-cell distanciel">-</td>
                            {% endif %}
                            </span>
                            {% endif %}

                            <td class="appointments-cell boutons">
                                <button onclick="location.href='{{ path('app_appointment_show', {'id': appointment.id}) }}'"
                                        type="button">Détails</button>
                            </td>
                        </tr>
                    {% elseif (status == 'Annulé') %}
                        <tr class="appointments-row annule">
                            <td class="appointments-cell">{{ appointment.particular.Fullname }}</td>
                            <td class="appointments-cell">{{ appointment.title }}</td>
                            <td class="appointments-cell description">{{ appointment.description }}</td>
                            <td class="appointments-cell">{{ appointment.createdAt ? appointment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td class="appointments-cell">{{ appointment.botanist ? appointment.botanist.FullName : 'No botanist assigned' }}</td>
                            {% if appointment.isPresential %}
                                <span class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-green-700 bg-green-200">
                                <td class="appointments-cell distanciel">À domicile</td>
                                    {% if appointment.address and appointment.status == "En cours" %}
                                        <td class="appointments-cell distanciel">{{ appointment.address }}</td>
                                        {% else %}
                                        <td class="appointments-cell distanciel">-</td>
                                    {% endif %}
                                    </span>
                            {% else %}
                                <span class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-red-700 bg-red-200">
                                <td class="appointments-cell distanciel">En ligne</td>
                            {% if appointment.link and appointment.status == "En cours" %}
                                <td class="appointments-cell distanciel"><a href="{{ appointment.link }}" rel=”noopener noreferrer” target="_blank">Lien</a></td>
                            {% else %}
                                <td class="appointments-cell distanciel">-</td>
                            {% endif %}
                            </span>
                            {% endif %}

                            <td class="appointments-cell boutons">
                                <button onclick="location.href='{{ path('app_appointment_show', {'id': appointment.id}) }}'"
                                        type="button">Détails</button>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% else %}
            <tr>
                <td colspan="5" class="px-4 py-2 text-red-500">No records found</td>
            </tr>
        {% endfor %}
    </section>
{% endblock %}
