<section class="ajout-plante">
    <div class="form-ajout">
        {{ form_start(form, { 'attr': { 'class': 'w-full max-w-sm mx-auto mt-20 space-y-3' } }) }}

        <fieldset class="file-box">
            <label for="image" id="imageLabel" onclick="openFileInput()">
                <img src="{{ asset('images/telecharger.png') }}" alt="" id="previewImage">
            </label>
            <span>Ajouter une image</span>
{#            {{ form_widget(form.image, { 'attr': { 'title': 'image', 'accept': '.png,.jpeg,.jpg', 'multiple': 'multiple', 'onchange': 'handleFileSelect(event)' } }) }}#}
        </fieldset>

        <div class="fieldset-container">
            <fieldset>
                {{ form_row(form.name, { 'attr': { 'title': 'Nom', 'type': 'text' } }) }}
            </fieldset>

            <fieldset>
                {{ form_row(form.species, { 'attr': { 'title': 'Famille de plante', 'type': 'text' } }) }}
            </fieldset>
        </div>

        <fieldset class="description">
            {{ form_widget(form.description, { 'attr': { 'title': 'Description / Commentaire', 'type': 'text', 'placeholder': "ex : Ma jolie rose violette que j'ai adopté en Janvier :)" } }) }}
        </fieldset>

        <button id="button" value="submit" type="button" class="btn btn-secondary">{{ button_label|default('Ajouter la plante') }}</button>

        {{ form_end(form) }}
    </div>
</section>
