{% apply inline_css(source('@styles/components/add-plant-form.css')) %}

{% block form_plant_popup %}
    <section id="plant-modal" class="ajout-plante">
        <div class="form-ajout">
            {{ form_start(form) }}

            <fieldset class="file-box">
                <label for="plant_photos" id="imageLabel">
                    <img src="{{ asset('images/telecharger.png') }}" alt="" id="previewImage">
                </label>
                <span>Ajouter une image</span>
                    {{ form_widget(form.photos, { 'attr': { 'title': 'image', 'accept': '.png,.jpeg,.jpg', 'multiple': 'multiple', 'class': 'invisible-input' } }) }}
            </fieldset>

            <div class="fieldset-container">
                <fieldset>
                    {{ form_row(form.name) }}
                </fieldset>

                <fieldset>
                    {{ form_row(form.species) }}
                </fieldset>
            </div>

            <fieldset class="description">
                {{ form_widget(form.description) }}
            </fieldset>

            <button id="send-plant-modal" type="submit" class="button">{{ button_label|default('Ajouter la plante') }}</button>
            <button id="close-plant-modal" type="button" class="button">Annuler</button>
            {# {% if error %}
                {% from "parts/error.html.twig" import form_error %}
                {{ form_error(error.message) }}
            {% endif %} #}

            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
{% endapply %}