{% apply inline_css(source('@styles/components/plant_form_popup.css')) %}
{% block form_plant_popup_edit %}

{# @TODO: add digit to the end of the id to avoid conflict with other popups #}
<div id="plant-form-popup" class="popup">
    <div class="popup-content">
        <h2>Formulaire d'affichage + edition</h2>
        <div action="#" method="post">
            {% for field, value in {
                'Nom': plant.name,
                'Description': plant.description,
                'Espece': plant.species,
            } %}
            <div class="form-field">
                <label for="{{ field|lower }}">{{ field }}</label>
                <input type="text" id="{{ field|lower }}" name="{{ field|lower }}" value="{{ value }}">
            </div>
            {% endfor %}
               <div class="form-field">
                <label for="photos">Photos</label>
                <div id="photos">
                    {% for photo in plant.photos %}
                        	{% if loop.index == 1 %}
							<img src="{{ photo.smallThumbnail }}" alt="Photo de {{ plant.name }}">
						{% endif %}		
                        {# @TODO: update photo (& delete old one) #}
                        {# @TODO: add galerie system to view multiple pictures #}
                    {% endfor %}
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="confirm-button">
                    Mettre a jour
                </button>
                <button type="button"  id="cancel-plant-button" class="cancel-button">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% endapply %}