{% extends 'base.html.twig' %}

{% block title %}Plant{% endblock %}

{% block body %}

    <section class="plant-details" aria-labelledby="plant-heading">
		<div class="return">
			<a href="/">Retour à la liste</a>
		</div>
		<article class="plant-content">
			<h2 id="plant-heading">Détails de la Plante</h2>
			<div class="img-container">
				<img src="/images/plante1.jpg" alt="image">
			</div>
			<ul class="plant-info">
				<li id="name">
					<p>Nom</p>
					<p>Tupile</p>
				</li>
				<li id="espece">
					<p>Espèce</p>
					<p>Lime</p>
				</li>
				<li id="date">
					<p>Date</p>
					<p>20/08/2023</p>
				</li>
			</ul>
			<div id="description">
				<p>Description</p>
				<p>Une description</p>
			</div>
			<div class="buttons">
				<button>Modifier</button>
				<button class="delete-button">Supprimer</button>
			</div>
		</article>
	</section>

    {# <h1 class="text-4xl mb-5">Plant</h1>

    <table class="table-auto bg-white rounded-lg overflow-hidden w-full shadow-lg">
        <tbody>
        {% for field, value in {
            'Id': plant.id,
            'Title': plant.name,
            'Description': plant.description,
            'Species': plant.species,
            'CreatedAt': plant.createdAt ? plant.createdAt|date('d-m-Y') : '',
        } %}
            <tr class="{{ loop.index is odd ? 'bg-gray-100' : 'bg-white' }}">
                <th class="px-4 py-2 text-left text-gray-600">{{ field }}</th>
                <td class="px-4 py-2">{{ value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-5">
        <a href="{{ path('app_plant_index') }}"
           class="px-4 py-2 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-700">back to list</a>

        <a href="{{ path('app_plant_edit', {'id': plant.id}) }}"
           class="px-4 py-2 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-700">edit</a>

        <div class="px-4 py-2 bg-red-500 text-white rounded-lg shadow-md ">
            {{ include('plant/_delete_form.html.twig') }}
        </div>
    </div> #}

{% endblock %}
