{# LOGIN FORM #}

<h2 class="title">Se connecter</h2>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<form action="{{ path('app_login') }}" method="post">
    <div class="form-field">
        <label for="username">Adresse email</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
    </div>
    <div class="form-field">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="_password"/>
    </div>
    {#Protection contre les attaques CSRF#}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div class="form-horizontal">
        <div class="form-link">
            <a href="{{ path('register_page') }}">Vous n'avez pas de compte?</a>
        </div>
        <div class="form-link">
            <a href="">Mot de passe oublié?</a>
        </div>
    </div>
    <button type="submit">Se connecter</button>
</form>
<form action="{{ path('app_logout') }}" method="post">
    <button type="submit">Se déconnecter</button>
</form>