{% extends 'base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}
    <section class="detail-rdv" aria-labelledby="rdv-heading">
        <div class="return"><a href="/">Retour à la liste</a></div>
        <article class="appointment-details">
            <h2 id="rdv-heading">Détails du Rendez-vous</h2>
            <p><strong>Auteur : </strong>{{ appointment.particular.Fullname }}</p>
            <p><strong>Titre : </strong>{{ appointment.title }}</p>
            <p class="description"><strong>Description : </strong>{{ appointment.description }}</p>
            <p><strong>Date et Heure
                    : </strong>{{ appointment.plannedAt ? appointment.plannedAt|date('d-m-Y H:i:s') : '' }}</p>
            <p><strong>Pris en charge par
                    : </strong>{{ appointment.botanist ? appointment.botanist.FullName : 'Aucun botaniste assigné' }}
            </p>
            <p><strong>Présence : </strong>{{ appointment.isPresential ? 'À domicile' : 'En ligne' }}</p>
            {% if appointment.isPresential and appointment.status == "En cours" %}
                {% if appointment.address %}
                    <p><strong>Lieu : </strong>{{ appointment.address }}</p>
                {% endif %}
            {% elseif appointment.isPresential == false and appointment.status == "En cours" %}
                {% if appointment.link %}
                    <p><strong>Lieu : </strong> <a
                                href="{{ appointment.link }}"
                                aria-describedby="location-desc">Lien vers la réunion</a></p>
                {% endif %}
            {% endif %}
            <div class="mt-5">
                {% if is_granted('ROLE_PARTICULAR') %}
                    <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">Éditer</a>
                    <div class="px-4 py-2 bg-red-500 text-white rounded-lg shadow-md">
                        {{ include('appointment/_delete_form.html.twig') }}
                    </div>
                {% endif %}

                {% if is_granted('ROLE_BOTANIST') %}
                    {% if appointment.status == "En attente" %}
                        <a href="{{ path('app_botanist_accept_appointment', {'id': appointment.id}) }}">Prendre
                            en charge le rendez-vous</a>
                    {% elseif appointment.status == "En cours" %}
                        <a href="{{ path('app_botanist_change_appointment_status', {'id': appointment.id, 'status_name' : 'En attente'}) }}">Annuler</a>
                        <a href="{{ path('app_botanist_change_appointment_status', {'id': appointment.id, 'status_name' : 'Terminé'}) }}">Terminer</a>
                    {% endif %}
                {% endif %}
            </div>
        </article>
    </section>
{% endblock %}
