{% extends 'base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}

    <section class="appointment-details" aria-labelledby="rdv-heading">
        <article class="appointment-content">
            <h2 id="rdv-heading">Détails du Rendez-vous</h2>
            <ul class="appointment-info">
                <li><strong>Auteur : </strong>{{ appointment.particular.Fullname }}</li>
                <li><strong>Titre : </strong>{{ appointment.title }}</li>
                <li class="description"><strong>Description : </strong>{{ appointment.description }}</li>
                <li><strong>Date et Heure
                        : </strong>{{ appointment.plannedAt ? appointment.plannedAt|date('d-m-Y H:i:s') : '' }}</li>
                <li><strong>Pris en charge par
                        : </strong>{{ appointment.botanist ? appointment.botanist.FullName : 'Aucun botaniste assigné' }}
                </li>
                <li><strong>Présence : </strong>{{ appointment.isPresential ? 'À domicile' : 'En ligne' }}</li>
                {% if appointment.isPresential and appointment.status == "En cours" %}
                {% if appointment.address %}
                    <p><strong>Lieu : </strong>{{ appointment.address }}</p>
                {% endif %}
                {% elseif appointment.isPresential == false and appointment.status == "En cours" %}
                {% if appointment.link %}
                <li><strong>Lieu : </strong><a
                            href="https://discord.com/channels/1063760210780495944/1124989604118921238"
                            aria-describedby="location-desc">Lien vers la réunion</a></li>
            </ul>
            {% endif %}
            {% endif %}

            <div class="buttons">
                {% if is_granted('ROLE_PARTICULAR') %}
                    {% if (app.user.email == appointment.particular.email) %}
                        <form id="delete-form" method="post"
                              action="{{ path('app_appointment_edit', {'id': appointment.id}) }}">
                            <button type="submit">Éditer</button>
                        </form>
                        <form id="delete-form" method="post"
                              action="{{ path('app_appointment_delete', {'id': appointment.id}) }}">
                            <button class="delete-button" type="submit">Supprimer</button>
                        </form>
                    {% endif %}
                {% endif %}
                {% if is_granted('ROLE_BOTANIST') %}
                    {% if appointment.status == "En attente" %}
                        <form method="POST" action="{{ path('app_botanist_accept_appointment', {'id': appointment.id}) }}">
                            <button type="submit">Prendre en charge le rendez-vous</button>
                        </form>
                    {% elseif appointment.status == "En cours" %}
                        <form method="post"
                              action="{{ path('app_botanist_change_appointment_status', {'id': appointment.id, 'status_name' : 'En attente'}) }}">
                            <button type="submit">Annuler</button>
                        </form>
                        <form method="post"
                              action="{{ path('app_botanist_change_appointment_status', {'id': appointment.id, 'status_name' : 'Terminé'}) }}">
                            <button type="submit">Terminer</button>
                        </form>
                    {% endif %}
                {% endif %}
                </div>
        </article>
    </section>

    {# <section class="detail-rdv" aria-labelledby="rdv-heading">
        <div class="return"><a href="/">Retour à la liste</a></div>
        <article class="appointment-details">
            <h2 id="rdv-heading">Détails du Rendez-vous</h2>
            <p><strong>Auteur : </strong>{{ appointment.particular.Fullname }}</p>
            <p><strong>Titre : </strong>{{ appointment.title }}</p>
            <p class="description"><strong>Description : </strong>{{ appointment.description }}</p>
            <p><strong>Date et Heure
                    : </strong>{{ appointment.plannedAt ? appointment.plannedAt|date('d-m-Y H:i:s') : '' }}</p>
            <p><strong>Pris en charge par
                    : </strong>{{ appointment.botanist ? appointment.botanist.FullName : 'Aucun botaniste assigné' }}
            </p>
            <p><strong>Présence : </strong>{{ appointment.isPresential ? 'À domicile' : 'En ligne' }}</p>
            {% if appointment.isPresential and appointment.status == "En cours" %}
                {% if appointment.address %}
                    <p><strong>Lieu : </strong>{{ appointment.address }}</p>
                {% endif %}
            {% elseif appointment.isPresential == false and appointment.status == "En cours" %}
                {% if appointment.link %}
                    <p><strong>Lieu : </strong> <a
                                href="{{ appointment.link }}"
                                aria-describedby="location-desc">Lien vers la réunion</a></p>
                {% endif %}
            {% endif %}
            <div class="mt-5">
                {% if is_granted('ROLE_PARTICULAR') %}
                    <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">Éditer</a>
                    <div class="px-4 py-2 bg-red-500 text-white rounded-lg shadow-md">
                        {{ include('appointment/_delete_form.html.twig') }}
                    </div>
                {% endif %}

                {% if is_granted('ROLE_BOTANIST') %}
                    {% if appointment.status == "En attente" %}
                        <a href="{{ path('app_botanist_accept_appointment', {'id': appointment.id}) }}">Prendre
                            en charge le rendez-vous</a>
                    {% elseif appointment.status == "En cours" %}
                        <a href="{{ path('app_botanist_change_appointment_status', {'id': appointment.id, 'status_name' : 'En attente'}) }}">Annuler</a>
                        <a href="{{ path('app_botanist_change_appointment_status', {'id': appointment.id, 'status_name' : 'Terminé'}) }}">Terminer</a>
                    {% endif %}
                {% endif %}
            </div>
        </article>
    </section> #}
{% endblock %}
