{% extends 'base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}
    {# <h1 class="text-4xl mb-5">Appointment</h1>

    <table class="table-auto bg-white rounded-lg overflow-hidden w-full shadow-lg">
        <tbody>
        {% for field, value in {
            'Objet': appointment.title,
            'Description': appointment.description,
            'Créé le': appointment.createdAt ? appointment.createdAt|date('d-m-Y') : '',
            'Planifié le': appointment.plannedAt ? appointment.plannedAt|date('d-m-Y H:i:s') : '',
            'Mis à jour le': appointment.updatedAt ? appointment.updatedAt|date('d-m-Y H:i:s') : '',
            'Type de rencontre': appointment.isPresential ? 'À domicile' : 'En ligne',
            'Rendez-vous prévu avec': appointment.botanist ? appointment.botanist.FullName : 'Aucun botaniste assigné',
        } %}
            <tr class="{{ loop.index is odd ? 'bg-gray-100' : 'bg-white' }}">
                <th class="px-4 py-2 text-left text-gray-600">{{ field }}</th>
                <td class="px-4 py-2">{{ value }}</td>
            </tr>
            {% if field == 'Type de rencontre' and value == 'À domicile' and appointment.status == "En cours" %}
                {% if appointment.address %}
                    <tr class="{{ loop.index is odd ? 'bg-gray-100' : 'bg-white' }}">
                        <th class="px-4 py-2 text-left text-gray-600">Adresse</th>
                        <td class="px-4 py-2">{{ appointment.address }}</td>
                    </tr>
                {% endif %}
            {% elseif field == 'Type de rencontre' and value == 'En ligne' and appointment.status == "En cours" %}
                {% if appointment.link %}
                    <tr class="{{ loop.index is odd ? 'bg-gray-100' : 'bg-white' }}">
                        <th class="px-4 py-2 text-left text-gray-600">Lien</th>
                        <td class="px-4 py-2">
                            <a href="{{ appointment.link }}">Accéder au rendez-vous en ligne</a>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-5">
        {% if is_granted('ROLE_PARTICULAR') %}
            <a href="{{ path('app_appointment_index') }}"

            <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}"
               class="px-4 py-2 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-700">Éditer</a>

            <div class="px-4 py-2 bg-red-500 text-white rounded-lg shadow-md">
                {{ include('appointment/_delete_form.html.twig') }}
            </div>
        {% endif %}

        {% if is_granted('ROLE_BOTANIST') %}
            {% if appointment.status == "En attente" %}
                <a class="btn btn-primary" href="{{ path('app_botanist_accept_appointment', {'id': appointment.id}) }}">Prendre
                    en charge le rendez-vous</a>
            {% elseif appointment.status == "En cours" %}
                <a class="btn btn-danger"
                   href="{{ path('app_botanist_change_appointment_status', {'id': appointment.id, 'status_name' : 'En attente'}) }}">Annuler</a>
                <a class="btn btn-primary"
                   href="{{ path('app_botanist_change_appointment_status', {'id': appointment.id, 'status_name' : 'Terminé'}) }}">Terminer</a>
            {% endif %}
        {% endif %}
    </div> #}

    <section class="detail-rdv" aria-labelledby="rdv-heading">
		<div class="return"><a href="/">Retour à la liste</a></div>
		<article class="appointment-details">
			<h2 id="rdv-heading">Détails du Rendez-vous</h2>
			<p><strong>Auteur :</strong> John Doe</p>
			<p><strong>Titre :</strong> Réunion d'équipe</p>
			<p class="description"><strong>Description :</strong> Réunion hebdomadaire pour discuter des
				projets en cours.</p>
			<p><strong>Date et Heure :</strong> 15/08/2023 à 10h00</p>
			<p><strong>Pris en charge par :</strong> Jane Smith</p>
			<p><strong>Présence :</strong> distanciel</p>
			<p><strong>Lieu :</strong> <a
					href="https://discord.com/channels/1063760210780495944/1124989604118921238"
					aria-describedby="location-desc">Lien vers la réunion</a></p>
			<div class="buttons">
				<button>Edit</button>
				<button>Delete</button>
			</div>
		</article>
	</section>

{% endblock %}
