{% extends 'base.html.twig' %}

{% block title %}Historique de vos conseils{% endblock %}

{% block body %}

    {# <div class="mx-auto px-4">
        <h1 class="text-2xl font-bold mb-4">Historique de vos conseils</h1>

        {% for status, advices in groupedAdvices %}
            <h2 class="text-xl mb-4 font-bold text-indigo-600">{{ status }} :</h2>
            <div class="rounded-lg shadow-lg bg-white my-3">
                <table class="table-auto w-full mb-4">
                    <thead class=" bg-indigo-100 border-indigo-500 border-b">
                    <tr>
                        <th class="text-start px-2 py-1 text-xs">Title</th>
                        <th class="text-start px-2 py-1 text-xs">Description</th>
                        <th class="text-start px-2 py-1 text-xs">createdAt</th>
                        <th class="text-start px-2 py-1 text-xs">Has been taken by</th>
                        <th class="text-start px-2 py-1 text-xs">isPublic</th>
                        <th class="text-start px-2 py-1 text-xs">actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for advice in advices %}
                        <tr class="text-center border-b text-sm text-gray-600">
                            <td class="px-4 py-2">{{ advice.title }}</td>
                            <td class="px-4 py-2">{{ advice.description }}</td>
                            <td class="px-4 py-2">{{ advice.createdAt ? advice.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td class="px-4 py-2">{{ advice.botanist ? advice.botanist.FullName : 'No botanist assigned' }}</td>
                            <td class="px-4 py-2">
                                {% if advice.isPublic %}
                                    <span class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-green-700 bg-green-200">
                                Yes
                          
                            </span>
                                {% else %}
                                    <span class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-red-700 bg-red-200">
                                No
                            
                            </span>
                                {% endif %}
                            </td>
                            <td class="px-4 py-2 flex justify-center">
                                <button onclick="location.href='{{ path('app_advice_show', {'id': advice.id}) }}'"
                                        type="button"
                                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">
                                    show
                                </button>
                                <button onclick="location.href='{{ path('app_advice_edit', {'id': advice.id}) }}'"
                                        type="button"
                                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                    edit
                                </button>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="px-4 py-2 text-red-500">No records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-lg text-red-500">No advices found</p>
        {% endfor %}

        <button onclick="location.href='{{ path('app_advice_new') }}'" type="button"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">New
        </button>
    </div> #}
    
    <section class="forum">
		<h2>Forum : Demandes de conseils en ligne</h2>

		<div class="form-container">
			<form id="searchForm">
				<input type="text" id="searchInput" placeholder="Rechercher...">
				<div class="filter-container">
					<label>
						<input type="checkbox" name="filter" value="public">
						<span>Public</span>
					</label>
					<label>
						<input type="checkbox" name="filter" value="private">
						<span>Privé</span>
					</label>
				</div>
				<button type="submit">Rechercher</button>
			</form>
		</div>

		<div id="results">
			<a href="/" id="conseil">
				<div class="img-container"><img src="/images/plante1.jpg" alt=""></div>
				<div class="infos-box">
					<div class="infos-container">
						<div class="infos-box">
							<div class="info h3">
								<!-- <p>Titre</p> -->
								<h3> Des points blancs sur ma plante, que faire ?Des
									points blancs sur ma plante, que faire ?Des
									points blancs sur ma plante, que faire ?Des
									points blancs sur ma plante, que faire ?Des
									points blancs sur ma plante, que faire ?</h3>
							</div>
							<div class="infos-sub-box">
								<div class="info">
									<!-- <p>Utilisateur</p> -->
									<p id="name">Black NextGen</p>
								</div>
								<div class="info">
									<!-- <p>Date</p> -->
									<p id="date">02/08/2023</p>
								</div>
								<div class="info">
									<!-- <p>Status</p> -->
									<p id="status2">Public</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="button-container">
					<a href="/">
						<p>Accéder</p><img src="/images/right-arrow-white.png" alt="">
					</a>
				</div> -->
			</a>
			<a href="/" id="conseil">
				<div class="img-container"><img src="/images/plante1.jpg" alt=""></div>
				<div class="infos-box">
					<div class="infos-container">
						<div class="infos-box">
							<div class="info h3">
								<!-- <p>Titre</p> -->
								<h3> Des points blancs sur ma plante, que faire ?Des
									points blancs sur ma plante, que faire ?Des
									points blancs sur ma plante, que faire ?Des
									points blancs sur ma plante, que faire ?Des
									points blancs sur ma plante, que faire ?</h3>
							</div>
							<div class="infos-sub-box">
								<div class="info">
									<!-- <p>Utilisateur</p> -->
									<p id="name">Black NextGen</p>
								</div>
								<div class="info">
									<!-- <p>Date</p> -->
									<p id="date">02/08/2023</p>
								</div>
								<div class="info">
									<!-- <p>Status</p> -->
									<p id="status1">Privé</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</section>

{% endblock %}
