{% extends 'base.html.twig' %}

{% block title %}Historique de vos conseils{% endblock %}

{% block body %}

    <section class="forum">
        <h1 class="text-2xl font-bold mb-4">Demandes de conseils</h1>

        <div id="results">
            {% for status, advices in groupedAdvices %}
                <h2>{{ status }} :</h2>
                {% for advice in advices %}
                    <div id="conseil">
                        <div class="img-container"><img src="/images/plante1.jpg" alt=""></div>
                        <div class="infos-box">
                            <div class="infos-container">
                                <div class="infos-box">
                                    <div class="info h3">
                                        <h3>{{ advice.title }}</h3>
                                    </div>

                                    <div class="infos-action">
								        <div class="infos-sub-box">
                                            <div class="info">
                                                <p id="name">{{ advice.particular ? advice.particular.FullName : '' }}</p>
                                            </div>
                                            ・
                                            <div class="info">
                                                <p id="date">{{ advice.createdAt ? advice.createdAt|date('d-m-Y') : '' }}</p>
                                            </div>
                                            ・
                                            <div class="info">
                                                {% if advice.isPublic %}
                                                        <p id="status2" style="color: green">Public</p>
                                                {% else %}
                                                        <p id="status2" style="color: red">Privée</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="buttons">
									        <button>Edit</button>
									        <button class="delete-button">Delete</button>
								        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button onclick="location.href='{{ path('app_advice_show', {'id': advice.id}) }}'"
                                type="button"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">
                            show
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </section>

{% endblock %}

{#
{% if is_granted('ROLE_PARTICULAR') %}

    <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}"
       class="px-4 py-2 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-700">Éditer</a>

    <div class="px-4 py-2 bg-red-500 text-white rounded-lg shadow-md">
        {{ include('appointment/_delete_form.html.twig') }}
    </div>
{% endif %}

        {% if is_granted('ROLE_BOTANIST') %}
            {% if appointment.status == "En attente" %}
                <a class="btn btn-primary" href="{{ path('app_botanist_accept_appointment', {'id': appointment.id}) }}">Prendre
                    en charge le rendez-vous</a>
            {% elseif appointment.status == "En cours" %}
                <a class="btn btn-danger"
                   href="{{ path('app_botanist_change_appointment_status', {'id': appointment.id, 'status_name' : 'En attente'}) }}">Annuler</a>
                <a class="btn btn-primary"
                   href="{{ path('app_botanist_change_appointment_status', {'id': appointment.id, 'status_name' : 'Terminé'}) }}">Terminer</a>
            {% endif %}
        {% endif %}#}
