{% extends 'base.html.twig' %}

{% block title %}Historique de vos conseils{% endblock %}

{% block body %}

    <section class="forum">
        <h1 class="text-2xl font-bold mb-4">Demandes de conseils</h1>

        <div id="results">
            {% for status, advices in groupedAdvices %}
                <h2>{{ status }} :</h2>
                {% for advice in advices %}
                    <a href='{{ path('app_advice_show', {'id': advice.id}) }}' id="conseil">
                        <div class="img-container"><img src="/images/plante1.jpg" alt=""></div>
                        <div class="infos-box">
                            <div class="infos-container">
                                <div class="infos-box">
                                    <div class="info h3">
                                        <h3>{{ advice.title }}</h3>
                                    </div>

                                    <div class="infos-action">
                                        <div class="infos-sub-box">
                                            <div class="info">
                                                <p id="name">{{ advice.particular ? advice.particular.FullName : '' }}</p>
                                            </div>
                                            ・
                                            <div class="info">
                                                <p id="date">{{ advice.createdAt ? advice.createdAt|date('d-m-Y') : '' }}</p>
                                            </div>
                                            ・
                                            <div class="info">
                                                {% if advice.isPublic %}
                                                    <p id="status2" style="color: green">Public</p>
                                                {% else %}
                                                    <p id="status2" style="color: red">Privée</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if is_granted('ROLE_PARTICULAR') %}
                                            {% if (app.user == advice.particular) %}
                                                <div class="buttons">
                                                    <button>Edit</button>
                                                    <button class="delete-button">Delete</button>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% endfor %}
        </div>
    </section>
{% endblock %}