{% extends 'base.html.twig' %}

{% block title %}New advice{% endblock %}

{% block body %}
    {# <h1>Create new advice</h1>

    {{ include('advice/_form.html.twig') }}

    <a href="{{ path('app_advice_index') }}">back to list</a> #}

<section class="demande-conseil">
		<div class="form-conseil">
			<h1>Demande de conseil en ligne</h1>
			<form action="/">
				<div class="fieldset-container">
					<fieldset>
						<label for="title">Titre</label>
						<input title="title " type="text" placeholder="ex :Tulipe" id="title">
					</fieldset>
					<fieldset class="plantes-selector">
						<label for="plantes">Sélectionnez vos plantes :</label>
						<input type="text" id="plantes"
							placeholder="Sélectionnez parmi vos plantes" readonly
							onclick="showDropdown()">
						<img src="/images/fleche.png" alt="">

						<ul id="myDropdown">
							<li>
								<input type="checkbox" id="plantes1" value="plantes1">
								<label for="plantes1">Plantes 1</label>
							</li>
							<li>
								<input type="checkbox" id="plantes2" value="plantes2">
								<label for="plantes2">Plantes 2</label>
							</li>
							<li>
								<input type="checkbox" id="plantes3" value="plantes3">
								<label for="plantes3">Plantes 3</label>
							</li>
							<li>
								<input type="checkbox" id="plantes4" value="plantes4">
								<label for="plantes4">Plantes 4</label>
							</li>
							<li>
								<input type="checkbox" id="plantes5" value="plantes5">
								<label for="plantes5">Plantes 5</label>
							</li>
						</ul>
					</fieldset>
				</div>
				<fieldset class="description">
					<label for="description">Description du problème :</label>
					<textarea title="description" id="description" type="text"
						placeholder="ex : Ma plante commence à perdre ses pétales..."></textarea>
				</fieldset>
				<button id="button" value="submit" type="button" class="btn btn-secondary">Créer le
					post</button>
			</form>
		</div>

		<div class="historique">
			<h2>Historique de vos demandes en ligne</h2>
			<div class="status" id="status-1">
				<p class="title">En cours</p>
				<ul>
					<li>
						<div class="box">
							<p>Date de création</p>
							<p>{{Date}}</p>
						</div>
						<div class="box">
							<p>Nom</p>
							<p>{{Nom}}</p>
						</div>
						<div class="box">
							<p>Plantes</p>
							<p>{{plante}}</p>
						</div>
						<div class="box">
							<p>Description</p>
							<p>{{Description}}</p>
						</div>
						<div class="operations">
							<img src="/images/points.png" alt="operations">
						</div>
					</li>
				</ul>
			</div>
			<div class="status" id="status-2">
				<p class="title">Terminé</p>
				<ul>
					<li>
						<div class="box">
							<p>Date de création</p>
							<p>{{Date}}</p>
						</div>
						<div class="box">
							<p>Nom</p>
							<p>{{Nom}}</p>
						</div>
						<div class="box">
							<p>Plantes</p>
							<p>{{plante}}</p>
						</div>
						<div class="box">
							<p>Description</p>
							<p>{{Description}}</p>
						</div>
						<div class="operations">
							<img src="/images/points.png" alt="operations">
						</div>
					</li>
					<li>
						<div class="box">
							<p>Date de création</p>
							<p>{{Date}}</p>
						</div>
						<div class="box">
							<p>Nom</p>
							<p>{{Nom}}</p>
						</div>
						<div class="box">
							<p>Plantes</p>
							<p>{{plante}}</p>
						</div>
						<div class="box">
							<p>Description</p>
							<p>{{Description}}</p>
						</div>
						<div class="operations">
							<img src="/images/points.png" alt="operations">
						</div>
					</li>
					<li>
						<div class="box">
							<p>Date de création</p>
							<p>{{Date}}</p>
						</div>
						<div class="box">
							<p>Nom</p>
							<p>{{Nom}}</p>
						</div>
						<div class="box">
							<p>Plantes</p>
							<p>{{plante}}</p>
						</div>
						<div class="box">
							<p>Description</p>
							<p>{{Description}}</p>
						</div>
						<div class="operations">
							<img src="/images/points.png" alt="operations">
						</div>
					</li>
				</ul>
			</div>
		</div>
</section>

{% endblock %}
