{% extends 'base.html.twig' %}

{% block title %}Advice{% endblock %}

{% block body %}
    <section class="conseil">
        <div class="navigation">
            <a href="/">Demandes de conseils</a> >
            <a href="/">Discussion</a>
        </div>

        <div class="demande">
            <h2>{{ advice.title }}</h2>
            <div class="descritpion-container">
                <div class="infos">
                    <div class="posted-by">{{ advice.particular ? (advice.particular.firstName ~ ' ' ~ advice.particular.lastName) : '' }}</div>
                    ・
                    <div class="when">{{ advice.createdAt ? advice.createdAt|date('d-m-Y ・ H:m') : '' }}</div>
                    ・
                    <div class="nb-comments"><span id="number-comments">{{ advice.comments|length }}</span> Commentaires
                    </div>
                </div>
                <div class="description">{{ advice.description ? advice.description|nl2br : '' }}</div>
            </div>
            <div class="write-answer">
                {{ form_start(form) }}
                <fieldset>
                    <img src="{{ asset('images/jardinnier.jpg') }}" alt="Photo de profil">
                    {{ form_widget(form.content) }}
                </fieldset>
                <button type="submit"
                        class="btn-sm bg-indigo-500">
                    <p>Répondre</p>
                    <img src="{{ asset("images/right-arrow-white.png") }}" alt="Fèche">
                </button>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="commentaires">
            <h3>Commentaires</h3>
            {% if advice.comments|length > 0 %}
                {% for comment in advice.comments %}
                    <div class="reponse">
                        <p class="text">{{ comment.content }}</p>
                        <div class="infos">
                            <img src="{{ comment.user.avatar|default('https://picsum.photos/200/300') }}">
                            <div class="options">
                                {% if comment.user %}
                                    {# Vérifier si l'utilisateur est un botaniste #}
                                    {% set isBotanist = false %}
                                    {% for role in comment.user.roles %}
                                        {% if role == 'ROLE_BOTANIST' %}
                                            {% set isBotanist = true %}
                                        {% endif %}
                                    {% endfor %}

                                    {# Vérifier si l'utilisateur est l'auteur de la demande de conseil #}
                                    {% set isAuthor = advice.particular == comment.user.fullName %}

                                    {% if isBotanist %}
                                        <p style="color: #5ac55a">
                                            {{ comment.user.fullName }}
                                        </p>
                                    {% elseif isAuthor %}
                                        <p style="color: #ce1313">
                                            {{ comment.user.fullName }}
                                        </p>
                                    {% else %}
                                        <p>
                                            {{ comment.user.fullName }}
                                        </p>
                                    {% endif %}
                                {% else %}
                                    <p id="fullname">Utilisateur anonyme</p>
                                {% endif %}
                                ・
                                <p><small>{{ comment.createdAt|date('d-m-Y H:i') }}</small></p>
                                {% if app.user == comment.user %}
                                    ・
                                    <div id="edit-comment-modal" class="hidden fixed z-10 inset-0 overflow-y-auto "
                                         aria-labelledby="modal-title" role="dialog" aria-modal="true">
                                    </div>
                                    <button class="edit-comment" data-id="{{ comment.id }}">Edit
                                    </button>
                                    <form method="post" action="{{ path('app_comment_delete', {'id': comment.id}) }}">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('delete' ~ comment.id) }}">
                                        ・
                                        <button>Delete</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas encore de commentaire</p>
            {% endif %}
        </div>
        <div class="mt-5">

            {% if app.user == advice.particular %}
            <a href="{{ path('app_advice_edit', {'id': advice.id}) }}"
               class="px-4 py-2 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-700">Éditer</a>
            {% endif %}

            {% if is_granted('ROLE_PARTICULAR') %}
                <form id="delete-form" method="post" action="{{ path('app_advice_delete', {'id': advice.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ advice.id) }}">
                    <button id="delete-button" class="btn">Delete</button>
                </form>
            {% endif %}
        </div>
    </section>

{% endblock %}