{% extends 'base.html.twig' %}

{% block title %}Advice{% endblock %}

{% block body %}

    <section class="conseil">
        <div class="demande">
            <div class="img-plante"><img src="/" alt="Image plante"></div>
            <div class="details">
                <h2>{{ advice.title }}</h2>
                <div class="descritpion-container">
                    <div class="infos">
                        <div class="posted-by">{{ advice.particular.fullname }}</div>
                        ・
                        <div class="when">{{ advice.createdAt ? advice.createdAt|date('Y-m-d') : '' }}</div>
                        ・
                        <div class="nb-comments"><span id="number-comments">{{ advice.comments|length }}</span>
                            Commentaires
                        </div>
                    </div>
                    <div class="description">{{ advice.description ? advice.description|nl2br : '' }}</div>
                </div>

                <div class="write-answer">
                    {{ form_start(form) }}
                    <fieldset>
                        <img src="/images/jardinnier.jpg" alt="Photo de profil">
                        {{ form_widget(form.content, {'attr': {'class': 'form-textarea w-full focus:border-slate-300', 'rows': '4', 'placeholder': 'Write a comment…'}}) }}
                    </fieldset>
                    <button type="submit">
                        <p>Répondre</p>
                        <img src="/images/right-arrow-white.png" alt="flèche">
                    </button>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>

        <div class="commentaires">
            <h3>Commentaires</h3>
            {% if advice.comments|length > 0 %}
                {% for comment in advice.comments %}
                    <div class="reponse">
                        <div class="infos">
                            <img class="rounded w-10 h-10"
                                 src="{{ comment.user.avatar|default('https://picsum.photos/200/300') }}"
                                 alt="avatar">
                            <div class="options">
                                {% if comment.user %}
                                    <!-- Vérifier si l'utilisateur est un botaniste -->
                                    {% set isBotanist = false %}
                                    {% for role in comment.user.roles %}
                                        {% if role == 'ROLE_BOTANIST' %}
                                            {% set isBotanist = true %}
                                        {% endif %}
                                    {% endfor %}

                                    <!-- Vérifier si l'utilisateur est l'auteur de la demande de conseil -->
                                    {% set isAuthor = advice.particular == comment.user.fullName %}

                                    {% if isBotanist %}
                                        <a style="color: #5ac55a">
                                            {{ comment.user.fullName }}
                                        </a>
                                    {% elseif isAuthor %}
                                        <a style="color: #ce1313">
                                            {{ comment.user.fullName }}
                                        </a>
                                    {% else %}
                                        <a class="font-medium text-indigo-500 hover:text-indigo-600 dark:hover:text-indigo-400"
                                           href="#0">
                                            {{ comment.user.fullName }}
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <h3 class="">Anonymous says:</h3>
                                {% endif %}
                                ・
                                <p>{{ comment.createdAt|date('d-m-Y ・ H:i') }}</p>
                                {% if app.user == comment.user %}
                                    <div id="edit-comment-modal" class="hidden fixed z-10 inset-0 overflow-y-auto "
                                         aria-labelledby="modal-title" role="dialog" aria-modal="true">
                                        <!-- Modal here -->
                                    </div>
{#                                    {{ path('app_advice_edit', {'id': advice.id}) }}#}
                                    <a href="#"
                                       class="px-4 py-2 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-700">Éditer</a>
                                    <div class="bg-red-800 flex items-center">
                                       {# <form id="delete-form" method="post"
                                              action="{{ path('app_comment_delete', {'id': advice.id}) }}">
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('delete' ~ advice.id) }}">
                                            <button id="delete-button" class="btn">Delete</button>
                                        </form>#}
                                        <a href="#"
                                           class="px-4 py-2 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-700">Supprimer</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <p class="text">{{ comment.content }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucun commentaire</p>
            {% endif %}
        </div>
    </section>
{% endblock %}