{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block header %}
    {% include 'parts/header.html.twig' %}
{% endblock %}

{% block body %}
<div class="main-container">
    {{ form_start(form, {'attr': {'class': 'form-auth'}}) }}
    <h2 class="title">Je suis un Botaniste</h2>
    <div class="form-half">
        <div class="form-field">
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName) }}
        </div>
        <div class="form-field">
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName) }}
        </div>
    </div>
    <div class="form-field">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div class="form-field">
        {{ form_label(form.password.first) }}
        {{ form_widget(form.password.first) }}
    </div>
    <div class="form-field">
        {{ form_label(form.password.second) }}
        {{ form_widget(form.password.second) }}
    </div>
    <div class="form-field">
        {{ form_label(form.cellphone) }}
        {{ form_widget(form.cellphone) }}
    </div>
    <div class="form-field">
        {{ form_label(form.certif) }}
        {{ form_widget(form.certif) }}
    </div>
    <div class="form-field form-cgu">
        {{ form_widget(form.agreeTerms) }}
        {{ form_label(form.agreeTerms) }}
    </div>
    <div class="form-link">
        <span>Vous avez déjà un compte?</span>
        <a href="{{ path('app_login') }}">Connectez-vous</a>
    </div>
    <button type="submit" class="btn btn-primary">S'inscrire</button>

    {% if error %}
        {% from "parts/error.html.twig" import form_error %}
        {{ form_error(error.message) }}
    {% endif %}

    {{ form_end(form) }}
</div>
{% endblock %}

{% block footer %}{% endblock %}