{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block body %}

	<section class="dashboard-user">
		<h2>Bienvenue sur votre Dashboard, <a href="#"><span>{{ app.user }}</span></a>
		</h2> {# TODO: mettre le lien vers le profil #}

		{% if app.user.address is empty %}
			<p>
				Veuillez renseigner au moins une adresse pour pouvoir faire des demandes de rendez-vous. 
				<a href="{{ path('app.user.edit.address') }}">Cliquez ici.</a>
			</p>
		{% endif %}
		

		<div class="top-banner">
			<div class="take-rdv">
				<h3><a href="{{ path('app_advice_index') }}">Voir les demandes de conseils</a>
				</h3>
				<div class="rdvs">
					{% for advice in advices %}
						<a href="{{ path('app_advice_show', {'id': advice.id}) }}" class="box">
							<p>{{ advice.title }}</p>
							・
							<p>{{ advice.createdAt|date('d-m-Y') }}</p>
						</a>
					{% endfor %}
				</div>
			</div>
			<aside>
				<article class="statisique">
					<h3>Mes statistiques</h3>
					<div>
						<p>
							<span>Rendez-vous pris : </span>
							<span>{{ appointment_count }}</span>
						</p>
						<p>
							<span>Conseils donnés : </span>
							<span>{{ advice_count }}</span>
						</p>
					</div>

					<a href="/">Accéder à mon profil</a>
				</article>
{#				<article class="addresses">#}
{#					<div>#}
{#						<h3>Mes adresses</h3>#}
{#						{% if app.user.address is empty %}#}
{#							<p>Vous n'avez pas encore d'adresses</p>#}
{#						{% else %}#}
{#							#}{# <ul>#}
{#								{% for address in app.user.addresses %}#}
{#									<li>{{ address.street  }}</li>#}
{#								{% endfor %}#}
{#							</ul> #}
{#							<p>#}
{#								<span>Nombre d'adresses : </span>#}
{#								<span>{{ app.user.address|length  }}</span>#}
{#							</p>#}
{#						{% endif %}#}
{#					</div>#}

{#					<a href="{{ path('app.user.edit.address') }}">Ajouter une adresse</a>#}
{#				</article>#}
			</aside>
		</div>

		<div class="bottom-banner">
			<div class="left">
				 <div class="historique">
					<h3>Besoin d'aide ?</h3>
					<div class="box-container">
						<a href="{{ path('app_appointment_new') }}" class="box">
							<img src={{ asset('images/plante1.jpg') }}>
							<p>Vos demandes de conseils</p>
						</a>
						<a href="{{ path('app_advice_new') }}" class="box">
							<img src={{ asset('images/plante1.jpg') }}>
							<p>Conseil en ligne</p>
						</a>
						<a href="{{ path('app_appointment_new') }}" class="box">
							<img src={{ asset('images/plante1.jpg') }}>
							<p>Prendre rendez-vous</p>
						</a>
					</div>
				</div>

				<div class="a-venir">
					<div class="top">
						<h3>Rendez-vous à venir</h3>
						<a href="{{ path('app_appointement_incoming_appointment') }}">Voir tous
							<img src={{ asset('images/right-arrow.png') }}>
						</a>
					</div>
					<div class="rdvs">
						{% for incomming_appointment in incomming_appointments %}
							<a href="{{ path('app_appointment_show', {'id': incomming_appointment.id}) }}" class="box">
								<p>{{ incomming_appointment.title }}</p>
								・
								{% if incomming_appointment.isPresential %}
									<p>Présentiel</p>
								{% else %}
									<p>En ligne</p>
								{% endif %}
								・
								<p>{{ incomming_appointment.plannedAt|date('d-m-Y | H:i') }}</p>
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="recent">
				<div class="top">
					<h3>Activités récentes</h3>
					<a href="{{ path('app_advice_list_recent_advice') }}">Voir toutes
						<img src={{ asset('images/right-arrow.png') }}>
					</a>
				</div>

				<div class="activities">
					{% for recent in recent_activity %}
						<a href="{{ path('app_advice_show', {'id': recent.id}) }}" class="activity">
							<p>{{ recent.title }}</p>
							・
							{% if recent.isPublic %}
								<p>Public</p>
							{% else %}
								<p>Privé</p>
							{% endif %}
							・
							<p>{{ recent.createdAt|date('d-m-Y | H:i') }}</p>
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

{% endblock %}