{% apply inline_css(source('@styles/components/add-address-popup.css')) %}

{% block body %}
<div class="modal-overlay" id="addressModal">
    <div class="modal">
        <div class="modal-header">
            <h2>Ajouter une adresse</h2>
            <button class="close-modal" id="closeModalButton">✖</button>
        </div>
        <div class="modal-body">
            {{ form_start(form, {'attr': {'id': 'address-form'}}) }}

                {{ form_row(form.street) }}
                {{ form_row(form.zipCode) }}
                {{ form_row(form.city) }}

            <button type="submit" id='confirmButton' class="">Créer</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
{% endapply %}